<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChainIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1541F7821083F6200A9B2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1541F8C21083F6400A9B2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1541F9721083F6400A9B2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
